{% extends "layout.njk" %}

{% block main %}

import (
	"fmt"
)

// {{ program.name | pascalCase }}Error represents a program-specific error.
type {{ program.name | pascalCase }}Error uint32

const (
{% for error in errors | sort(false, false, 'code') %}
	// {{ error.name | pascalCase }}Error - {{ error.message }}
	{{ error.name | pascalCase }}Error {{ program.name | pascalCase }}Error = 0x{{ error.code.toString(16) | upper }}
{% endfor %}
)

// Error returns the message the program associates with the error code.
func (e {{ program.name | pascalCase }}Error) Error() string {
	switch e {
{% for error in errors | sort(false, false, 'code') %}
	case {{ error.name | pascalCase }}Error:
		return "{{ error.message }}"
{% endfor %}
	default:
		return fmt.Sprintf("unknown error: %d", e)
	}
}

// Code returns the numeric error code as emitted by the program.
func (e {{ program.name | pascalCase }}Error) Code() uint32 {
	return uint32(e)
}

{% endblock %}
